<header class="header">

    <div class="">
        {{> logo}}
    </div>

    <nav class="header_nav">
        <div class="header_nav_right">
            {{> nav list=header}}
        </div>
    </nav>
</header>



<main class="main">
    {{#with info}}
    <div class="info">

        <h1 class="info_title">{{title}}</h1>
        <p class="info_description">{{description}}</p>

    </div>
    {{/with}}


    {{#with form}}

    <form class="form">

        <div class="inputs">
            {{#each inputs}}
            <input type="{{type}}" placeholder="{{placeholder}}" id="{{id}}" class="form_inputs" name="{{name}}">

            {{/each}}
        </div>
        <div class="form_checkbox">
            {{#with checkbox}}
            <input type="checkbox" name="{{name}}">
            <label>{{label}}</label>
            {{/with}}
        </div>

        <button class="form_button">{{button}}</button>
        <div class="form_border"></div>
        <p class="form_info">{{info}}</p>

    </form>
    {{/with}}
</main>


{{#with updates}}
<div class="updates">
    <h6 class="updates_title">{{title}}</h6>


    {{#each list}}
    <div class="updates_list">
        <div class="updates_row">
            <image src="#" class="updates_image"></image>
            <div>
                <p class="updates_nickname">@{{nickname}}</p>
                <p class="updates_description">{{description}}</p>
            </div>
        </div>
    </div>
    {{/each}}


    <a href="{{show_all.url}}" class="updates_show_all">{{show_all.text}}</a>



</div>
{{/with}}


{{#with expirience}}

<div class="expirience">

    <div class="expirience_column">

        <div class="badge">
            <div class="expirience_badge">{{badge}}</div>
        </div>
        <h2 class="expirience_title">{{title}}</h2>
    </div>

    <div class="expirience_row">
        {{#each list}}
        <div>
            <h6 class="expirience_name">{{name}}</h6>
            <p class="expirience_details">{{details}}</p>
        </div>
        {{/each}}
    </div>
</div>
{{/with}}





<footer class="footer">

    <div>
        {{> logo}}
        <span class="footer_copyright"> Copyright 2023-2024</span>
    </div>
    {{#each footer}}
    <div>
        <span class="footer_title"> {{title}} </span>
        {{> nav list=links isVertical=true}}
    </div>
    {{/each}}

</footer>