{{#with data}}
<div class="header_upline">
    <div class="logo">
        <span class="badge text-bg-primary">{{brandName}}</span>
    </div>


    <nav class="header_nav">
        {{#each links}}
        <a href="{{url}}" class="nav_link">{{text}}</a>
        {{/each}}
    </nav>

</div>



<div class="header_underline">
    {{#with ad}}
    <div class="header_ad">
        <div class="ad_logo">
            <div class="logo_ad">
                <span>AD</span>
            </div>
            <a href="{{url}}" class="ad_link">{{text}}: {{url}}</a>
        </div>
    </div>

    {{/with}}
    <p class="userOnline"> User online: {{userOnline}}</p>
</div>
{{/with}}